name: 'Create Release PR'
run-name: Create Release PR - ${{ github.event.inputs.version }}
on:
  workflow_dispatch:
    inputs:
      version:
        description: 'The next version'
        required: true

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: cloudwatch-logs-aggregator/lambda/go.mod
      - run: make bump-version
        env:
          VERSION: ${{ github.event.inputs.version }}
      - run: make build
      - uses: peter-evans/create-pull-request@c0f553fe549906ede9cf27b5156039d195d2ece0 # v8.1.0
        with:
          branch: 'release-v${{ github.event.inputs.version }}'
          commit-message: 'chore: bump to v${{ github.event.inputs.version }}'
          title: 'chore: bump to v${{ github.event.inputs.version }}'
          body: |
            Bump version to v${{ github.event.inputs.version }}

            After merging this PR, create a release with `v${{ github.event.inputs.version }}` tag.
          delete-branch: true
