name: 'Create Release PR'
run-name: Create Release PR - ${{ github.event.inputs.version }}
on:
  workflow_dispatch:
    inputs:
      version:
        description: 'The next version'
        required: true

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version-file: cloudwatch-logs-aggregator/lambda/go.mod
      - run: make bump-version
        env:
          VERSION: ${{ github.event.inputs.version }}
      - run: make build
      - uses: peter-evans/create-pull-request@84ae59a2cdc2258d6fa0732dd66352dddae2a412 # v7.0.9
        with:
          branch: 'release-v${{ github.event.inputs.version }}'
          commit-message: 'chore: bump to v${{ github.event.inputs.version }}'
          title: 'chore: bump to v${{ github.event.inputs.version }}'
          body: |
            Bump version to v${{ github.event.inputs.version }}

            After merging this PR, create a release with `v${{ github.event.inputs.version }}` tag.
          delete-branch: true
